* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(153, 183, 223);
    text-align: center;
}

#wrapper header {
    background-color: navy;
    height: 75px;
}

#wrapper header nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1.75em;
    color: white;
    padding-top: 21px;
}

#wrapper main h1 {
    font-size: 3.5em;
    font-style: italic;
    text-decoration: underline;
    padding: 15px;
}

#wrapper main img {
    border: 14px ridge orange;
}

section {
    background-color:rgb(68, 137, 198);
    margin: 10px;
    height: 150px;
}

section h2 {
    font-size: 2.25em;
}

section p {
    font-size: 2em;
    font-weight: 500;
}

footer {
    background-color: navy;
    height: 100px;
    color: white;
    font-size: 1.5em;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 20px;
}