body {
    background: #000000 url("../images/Background2_img.png");
    background-size: cover;
}

header img {
    width: 178px;
    float: left;
}

header {
    background: url("../images/Header_img.png") 0px 297px;
}

header h1 {
    font-size: 3em;
    color: black;
    float: left;
    margin-top: 55px;
    text-shadow: 4px 4px 2px rgb(89, 2, 2);
}

nav {
    background-color: #E7C24F;
    clear: both;
    width: 100%;
    height: 50px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-family: Arial, Helvetica, sans-serif;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    box-sizing: border-box;
}

nav a {
    color: #f5f0e6;
    text-decoration: none;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-self: center;
    justify-content: center;
    min-width: 100px;
}

nav a:hover {
    background: skyblue;
    text-shadow: 4px 4px 2px aquamarine;
}

#wrapper {
    max-width: 700px;
    min-height: 800px;
    background: #f5f0e6;
    /* margin: auto; */
    margin-left: 400px;
    border: black solid 5px;
    border-radius: 20px;
    overflow: hidden;
    display: grid;
    grid-template-rows: 178px 50px 2fr 100px;
}

#content {
    grid-column: 1 / 4;
    padding: 30px;
}

table.greenTable {
    font-family: Georgia, serif;
    border: 6px solid #24943A;
    background-color: #D4EED1;
    width: 100%;
    text-align: center;
}

table.greenTable td, table.greenTable th {
    border: 1px solid #24943A;
    padding: 3px 2px;
}

table.greenTable tbody td {
    font-size: 17px;
}

table.greenTable tr:nth-child(even) {
    background: #36E058;
}

table.greenTable thead {
    background: #24943A;
    background: -moz-linear-gradient(top, #5baf6b 0%, #3a9e4d 66%, #24943A 100%);
    background: -webkit-linear-gradient(top, #5baf6b 0%, #3a9e4d 66%, #24943A 100%);
    background: linear-gradient(to bottom, #5baf6b 0%, #3a9e4d 66%, #24943A 100%);
    border-bottom: 0px solid #444444;
}

table.greenTable thead th {
    font-size: 21px;
    font-weight: bold;
    color: #F0F0F0;
    text-align: left;
    border-left: 2px solid #24943A;
}

table.greenTable thead th:first-child {
    border-left: none;
}

table.greenTable tfoot td {
    font-size: 13px;
}

table.greenTable tfoot .links {
    text-align: right;
}

table.greenTable tfoot .links a{
    display: inline-block;
    background: #FFFFFF;
    color: #24943A;
    padding: 2px 8px;
    border-radius: 5px;
}

footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    clear: both;
    background: url("../images/Header_img.png") 0px 2%;
    background-size: cover;
    border-top: 3px solid #000000;
    color: #f5f0e6;
    height: 100px;
}

footer li {
    list-style-type: none;
}

footer p {
    align-content: center;
}

footer li a {
    color: #f5f0e6;
    font-size: 1.2em;
    text-decoration: none;
    min-width: 100px;
    display: flex;
    justify-content: center;
}

input, textarea, select {
    max-width: 90px;
}

main {
    display: grid;
    grid-template-columns: 1fr .5fr;
}

.content-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5px;
}

section {
    max-height: 300px;
    margin: 10px;
}

section img {
    max-height: 100%;
    height: auto;
    display: block;
}

.content-grid p {
    margin: 0;
    align-content: center;
}

#ads h4 {
    font-size: 1.5em;
}

#ads {
    background-color: #E7C24F;
    width: 250px;
    min-height: 500px;
    border: 3px solid black;
    position: absolute;
    right: 140px;
    margin-top: 230px;
    text-align: center;
}

#ads form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
}

#ads form input {
    margin-bottom: 20px;
}

#ads form fieldset {
    text-align: ce;
}

#ads form button {
    margin: 5px;
    margin-top: 10px;
    float: left;
    justify-content: start;
}

#ads form > div {
    grid-column: 1 / 3;
    justify-self: start;
}

#images{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}

#images img {
    width: 200px;
    height: 200px;
    margin-top: 20px;
}

@media (max-width: 1000px){
    * {
        align-content: center;
    }

    #wrapper {
        display: block;
        min-height: 1200px;
        min-width: 700px;
        margin-left: 17px;
    }

    #wrapper-2 {
        display: block;
        min-height: 1200px;
        min-width: 900px;
        margin-left: 17px;
    }

    header {
        margin-top: -220px;
    }

    header h1 {
        margin-top: 70px;
    }

    header img {
        width: 120px;

        margin-top: 40px;
    }

    footer {
        margin-bottom: -200px;
    }

    section img {
        display: flex;
        flex-direction: column;
        
    }

    #ads {
        background-color: #E7C24F;
        width: 600px;
        min-height: 10px;
        border: 3px solid black;
        position: relative;
        bottom: -8px;
        right: 13px;
        margin-top: 0px;
        margin-left: 60px;
    }

    #ads h4 {
        padding: 0px;
        margin: 0px;
    }

    #ads form input {
        margin-bottom: 10px;
    }

    #ads form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 20px;
    }

    #ads form button {
        margin: 5px;
        float: left;
        justify-content: start;
    }

    #ads form > div {
        grid-column: 1 / 3;
        justify-self: start;
    }

    main {
        display: block;
    }

    main #ads {
        position: unset;
        width: 100%;
    }
}